<p align=center><img src=https://d31uz8lwfmyn8g.cloudfront.net/Assets/logo-henry-white-lg.png><p>

# <h1 align=center> **PROYECTO INDIVIDUAL Nº2** </h1>
# <h1 align=center>¡Bienvenidos a mi segundo proyecto individual de la etapa de labs! En esta ocasión, realicé el trabajo que desarrolla un ***Data Analyst*** en el tema de Telecomunicaciones. </h1>

- Para comenzar en este cuaderno Jupyter, procederemos a cargar los conjuntos de datos proporcionados por Enacom. Realizaremos una breve revisión inicial para comprender los tipos de datos, identificar posibles valores atípicos, duplicados o valores nulos. El objetivo es preparar los datos para su posterior análisis y tratamiento en el siguiente archivo llamado Eda_p1.ipynb.

- Empezamos cargando librerías y posteriormente leemos todos los datasets:

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from scipy import stats

In [3]:
#Df tablas
df1=pd.read_excel('./data_excel/total_nacional_de_accesosainternet_fijo_x_bandaancha_angosta.xlsx', sheet_name='Totales')
df2=pd.read_excel('./data_excel/accesos_banda_ancha_y_angostaXprovincia.xlsx', sheet_name='Hoja1')
df3=pd.read_excel('./data_excel/acceso_internetFijo_x_tecnologiaYprovincia.xlsx', sheet_name='Hoja2')
df4=pd.read_excel('./data_excel/velocidadmedia_de_bajada_internetFijo_x_provincia.xlsx', sheet_name='Hoja1')
df5=pd.read_excel('./data_excel/acceso_internetFijo_x_rangosdevelocidad_deBajada_y_provincia.xlsx', sheet_name='Hoja2')
df6=pd.read_excel('./data_excel/Accesos_Internetfijoporvelocidadbajada_y_provincia.xlsx')
df7=pd.read_excel('./data_excel/AccesosaInternetfijo_por_velocidaddebajada_y_localidad.xlsx')
df8=pd.read_excel('./data_excel/Accesos_Internetfijoportecnologia_y_localidad.xlsx')
df9=pd.read_excel('./data_excel/Listadode_localidades_con_conectividada_internet.xlsx')

#Df con los gráficos
df_fig1=pd.read_excel('./data_excel/penetracion_internet_fijo.xlsx', sheet_name='hoja2')
df_fig2=pd.read_excel('./data_excel/penetracion_por_hogares_nacional_inter_fijo.xlsx', sheet_name='hoja3')
df_fig3=pd.read_excel('./data_excel/serie_trimestral_accesos_interFijoXtecnologia.xlsx', sheet_name='hoja1')
df_fig4=pd.read_excel('./data_excel/velocidad_media_bajadaInter_fijo.xlsx', sheet_name='hoja2')
df_fig5=pd.read_excel('./data_excel/Distribucion_accesos_totalesNacionales_a_internetfijoXvelocidad.xlsx', sheet_name='hoja1')
df_fig6=pd.read_excel('./data_excel/Ingresos_trimestrales_porPrestancion_del_servicio_intern_fijo.xlsx')

### <h3 align=center> `Df1`: **Total nacional de accesos a Internet fijo por banda ancha y banda angosta** </h3>

- Comenzamos con la inspección de los datasets; el proceso en cada uno sería el mismo: una breve visualización para ver lo que contiene, los tipos de datos, outliers, valores nulos/valores faltantes, etc. En el siguiente archivo llamado Eda_p1 trataremos los errores encontrados.

In [4]:
df1.head(1)

    Año  Trimestre  Banda ancha fija  Dial up     Total       Periodo
0  2022          4          11195668    12446  11208114  Oct-Dic 2022

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               36 non-null     int64
 1   Trimestre         36 non-null     int64
 2   Banda ancha fija  36 non-null     int64
 3   Dial up           36 non-null     int64
 4   Total             36 non-null     int64
 5   Periodo           36 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

In [6]:
df1.isnull().sum()

Año                 0
Trimestre           0
Banda ancha fija    0
Dial up             0
Total               0
Periodo             0
dtype: int64

In [7]:
df1.describe()

               Año  Trimestre  Banda ancha fija       Dial up         Total
count    36.000000  36.000000      3.600000e+01     36.000000  3.600000e+01
mean   2018.000000   2.500000      8.355563e+06  23079.555556  8.378642e+06
std       2.618615   1.133893      1.471390e+06  10107.978375  1.462265e+06
min    2014.000000   1.000000      6.362108e+06   9991.000000  6.398398e+06
25%    2016.000000   1.750000      7.061275e+06  12436.750000  7.093767e+06
50%    2018.000000   2.500000      8.201878e+06  26861.500000  8.228740e+06
75%    2020.000000   3.250000      9.400024e+06  32491.750000  9.410040e+06
max    2022.000000   4.000000      1.119567e+07  39324.000000  1.120811e+07

##### Para detectar valores extremos una medida general es considerar outliers aquellos valores con una puntuación Z (z score) mayor de 3, esto es, que se alejan 3 veces o mas desviaciones standard de la media.

##### El `Z score` se define como:

$$z(x)= \frac{x-\mu}{\sigma}$$

##### Sin embargo los valores extraños que encontramos en los datos no son necesariamente un problema. Su importancia se basa en el contexto. En ocasiones, esos valores inusuales son completamente normales, pero solo podemos entender por qué si tenemos toda la información detrás de los datos.

In [8]:
def outliers_col(df1):
    for columna in df1:
        if df1[columna].dtype != np.object_:
            n_outliers = len(df1[np.abs(stats.zscore(df1[columna])) > 3])    
            print("{} | {} | {}".format(
                df1[columna].name,
                n_outliers,
                df1[columna].dtype
        ))

outliers_col(df1)

Año | 0 | int64
Trimestre | 0 | int64
Banda ancha fija | 0 | int64
Dial up | 0 | int64
Total | 0 | int64


### <h3 align=center> `Df2`: **Accesos a banda ancha y banda angosta por provincia** </h3>

In [9]:
df2.head(1) #accesos_banda_ancha_y_angostaXprovincia

    Año  Trimestre     Provincia  Banda ancha fija  Dial up    Total
0  2022          4  Buenos Aires           4788466   6199.0  4794665

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               864 non-null    int64
 1   Trimestre         864 non-null    int64
 2   Provincia         864 non-null    object
 3   Banda ancha fija  864 non-null    int64
 4   Dial up           862 non-null    float64
 5   Total             864 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 40.6+ KB

In [11]:
df2.isnull().sum()

Año                 0
Trimestre           0
Provincia           0
Banda ancha fija    0
Dial up             2
Total               0
dtype: int64

In [12]:
def outliers_col(df2):
    for columna in df2:
        if df2[columna].dtype != np.object_:
            n_outliers = len(df2[np.abs(stats.zscore(df2[columna])) > 3])    
            print("{} | {} | {}".format(
                df2[columna].name,
                n_outliers,
                df2[columna].dtype
        ))

outliers_col(df2)

Año | 0 | int64
Trimestre | 0 | int64
Banda ancha fija | 36 | int64
Dial up | 0 | float64
Total | 36 | int64


### <h3 align=center> `Df3`: **Acceso a Internet fijo por tecnología y provincia** </h3>

In [13]:
df3.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,325908.0,2767247.0,1499149.0,129910.0,72451.0,4794665.0
1,2022,4,Capital Federal,138753.0,1238196.0,138548.0,4603.0,31826.0,1551926.0
2,2022,4,Catamarca,8952.0,10998.0,47337.0,1379.0,2243.0,70909.0
3,2022,4,Chaco,24582.0,61265.0,47285.0,7957.0,2574.0,143663.0
4,2022,4,Chubut,45450.0,73923.0,9815.0,30721.0,8850.0,168759.0

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 866 entries, 0 to 865
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           865 non-null    object
 1   Trimestre     865 non-null    object
 2   Provincia     864 non-null    object
 3   ADSL          864 non-null    float64
 4   Cablemodem    864 non-null    float64
 5   Fibra óptica  864 non-null    float64
 6   Wireless      864 non-null    float64
 7   Otros         864 non-null    float64
 8   Total         864 non-null    float64
dtypes: float64(6), object(3)
memory usage: 61.0+ KB

In [15]:
df3.isnull().sum()

Año             1
Trimestre       1
Provincia       2
ADSL            2
Cablemodem      2
Fibra óptica    2
Wireless        2
Otros           2
Total           2
dtype: int64

In [16]:
df3.describe()

,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
count,8.640000e+02,8.640000e+02,8.640000e+02,864.000000,864.000000,8.640000e+02
mean,1.255457e+05,1.739913e+05,3.262331e+04,10720.798611,6228.967593,3.491101e+05
std,2.520514e+05,4.276313e+05,1.325430e+05,18723.092796,10740.931282,7.494854e+05
min,6.120000e+03,0.000000e+00,0.000000e+00,0.000000,2.000000,1.255700e+04
25%,2.232025e+04,8.912500e+03,2.052500e+02,261.000000,313.000000,5.232900e+04
50%,4.816100e+04,3.498400e+04,1.233000e+03,4377.000000,1862.500000,1.045965e+05
75%,1.025470e+05,7.168325e+04,1.564250e+04,12673.750000,7128.000000,1.801745e+05
max,1.586343e+06,2.767247e+06,1.499149e+06,129910.000000,73415.000000,4.794665e+06

In [17]:
def outliers_col(df3):
    for columna in df3:
        if df3[columna].dtype != np.object_:
            n_outliers = len(df3[np.abs(stats.zscore(df3[columna])) > 3])    
            print("{} | {} | {}".format(
                df3[columna].name,
                n_outliers,
                df3[columna].dtype
        ))

outliers_col(df3)

ADSL | 0 | float64
Cablemodem | 0 | float64
Fibra óptica | 0 | float64
Wireless | 0 | float64
Otros | 0 | float64
Total | 0 | float64


### <h3 align=center> `Df4`: **Velocidad media de bajada de Internet fijo por provincia** </h3>

In [18]:
df4.head()

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          4     Buenos Aires                  111.00
1  2022          4  Capital Federal                  182.86
2  2022          4        Catamarca                   83.33
3  2022          4            Chaco                  104.02
4  2022          4           Chubut                   15.92

In [19]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     864 non-null    int64
 1   Trimestre               864 non-null    int64
 2   Provincia               864 non-null    object
 3   Mbps (Media de bajada)  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

In [20]:
df4.isnull().sum()

Año                       0
Trimestre                 0
Provincia                 0
Mbps (Media de bajada)    0
dtype: int64

In [22]:
df4.describe()

               Año   Trimestre  Mbps (Media de bajada)
count   864.000000  864.000000              864.000000
mean   2018.000000    2.500000               15.375182
std       2.583484    1.118682               18.320956
min    2014.000000    1.000000                2.573729
25%    2016.000000    1.750000                4.316775
50%    2018.000000    2.500000                7.416094
75%    2020.000000    3.250000               19.709719
max    2022.000000    4.000000              182.860000

In [23]:
def outliers_col(df4):
    for columna in df4:
        if df4[columna].dtype != np.object_:
            n_outliers = len(df4[np.abs(stats.zscore(df4[columna])) > 3])    
            print("{} | {} | {}".format(
                df4[columna].name,
                n_outliers,
                df4[columna].dtype
        ))

outliers_col(df4)

Año | 0 | int64
Trimestre | 0 | int64
Mbps (Media de bajada) | 20 | float64


### <h3 align=center> `Df5`: **Acceso a Internet Fijo por rangos de velocidad de bajada y provincia** </h3>

In [24]:
df5.head(2)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28934.0,23347.0,259866.0,281550.0,244555.0,98670.0,3760109.0,97634.0,4794665.0
1,2022,4,Capital Federal,516.0,5096.0,31320.0,64653.0,36336.0,8116.0,1299117.0,106772.0,1551926.0

In [25]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    float64
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    float64
 10  OTROS                858 non-null    float64
 11  Total                864 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 81.1+ KB

In [26]:
df5.isnull().sum()

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  6
Total                  0
dtype: int64

In [27]:
df5.describe()

,Año,Trimestre,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
count,864.000000,864.000000,864.000000,864.000000,8.640000e+02,864.000000,864.000000,864.000000,8.640000e+02,858.00000,8.640000e+02
mean,2018.000000,2.500000,2065.484954,9960.253472,1.480209e+05,37641.817130,38114.030093,20793.402778,8.555756e+04,5289.20979,3.474059e+05
std,2.583484,1.118682,13459.419708,21992.818620,3.438435e+05,65383.130836,93024.185664,73859.534388,3.635417e+05,13011.53175,7.450600e+05
min,2014.000000,1.000000,6.000000,0.000000,2.531000e+03,0.000000,0.000000,0.000000,0.000000e+00,-1945.00000,1.240600e+04
25%,2016.000000,1.750000,39.000000,312.000000,2.744150e+04,2929.000000,1579.750000,25.750000,8.000000e+00,0.00000,5.274050e+04
50%,2018.000000,2.500000,109.000000,2536.000000,4.783750e+04,11247.000000,9067.000000,1146.000000,1.019000e+03,0.00000,1.052355e+05
75%,2020.000000,3.250000,541.250000,8056.250000,8.639200e+04,38753.250000,26408.000000,9567.500000,2.247475e+04,5146.00000,1.791482e+05
max,2022.000000,4.000000,238920.000000,171244.480000,2.299705e+06,403575.000000,886678.000000,949093.000000,3.760109e+06,120464.00000,4.794665e+06

In [28]:
def outliers_col(df5):
    for columna in df5:
        if df5[columna].dtype != np.object_:
            n_outliers = len(df5[np.abs(stats.zscore(df5[columna])) > 3])    
            print("{} | {} | {}".format(
                df5[columna].name,
                n_outliers,
                df5[columna].dtype
        ))

outliers_col(df5)

Año | 0 | int64
Trimestre | 0 | int64
HASTA 512 kbps | 4 | float64
+ 512 Kbps - 1 Mbps | 30 | float64
+ 1 Mbps - 6 Mbps | 23 | float64
+ 6 Mbps - 10 Mbps | 29 | float64
+ 10 Mbps - 20 Mbps | 21 | float64
+ 20 Mbps - 30 Mbps | 15 | float64
+ 30 Mbps | 18 | float64
OTROS | 0 | float64
Total | 36 | float64

### <h3 align=center> `Df6`: **Accesos a Internet fijo por velocidad bajada y provincia** </h3>

In [29]:
df6.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2022.0,4.0,Buenos Aires,97634.0,18.0,0.0,0.0,28724.0,192.0,4611.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.0,4.0,Capital Federal,106772.0,31.0,0.0,0.0,451.0,34.0,1307.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,4.0,Catamarca,2280.0,0.0,0.0,0.0,34.0,37.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.0,4.0,Chaco,3909.0,0.0,225.0,111.0,234.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.0,4.0,Chubut,20026.0,8.0,0.0,0.0,69.0,32.0,836.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Columns: 186 entries, Año to 10000 Mbps
dtypes: float64(184), int64(1), object(1)
memory usage: 734.0+ KB

In [31]:
df6.isna().sum()

Año           1
Trimestre     1
Provincia     1
Otros         1
0,256 Mbps    1
             ..
5125 Mbps     1
6000 Mbps     1
7000 Mbps     1
8000 Mbps     1
10000 Mbps    1
Length: 186, dtype: int64

In [32]:
df6.describe()

,Año,Trimestre,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
count,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,...,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000
mean,2019.857143,2.571429,9132.545635,3.240079,5.357143,2.642857,2491.728175,39.031746,1312.303571,5230.615079,...,8.547619,0.039683,2.251984,0.134921,0.073413,0.007937,0.067460,0.196429,0.015873,0.031746
std,1.522341,1.138019,16245.555828,11.108175,34.336532,16.939356,17503.933621,74.020006,5171.437899,7845.964066,...,85.315283,0.890871,22.519662,1.342696,0.800452,0.088821,0.672827,1.602405,0.177642,0.355284
min,2017.000000,1.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2019.000000,2.000000,537.750000,0.000000,0.000000,0.000000,20.750000,0.000000,0.000000,902.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2020.000000,3.000000,3987.000000,0.000000,0.000000,0.000000,47.000000,10.500000,1.000000,2364.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2021.000000,4.000000,11535.250000,0.250000,0.000000,0.000000,82.250000,57.000000,313.000000,5760.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2022.000000,4.000000,120987.000000,102.000000,225.000000,111.000000,238902.000000,609.000000,35185.000000,49473.000000,...,860.000000,20.000000,227.000000,15.000000,9.000000,1.000000,8.000000,18.000000,2.000000,4.000000

In [33]:
def outliers_col(df6):
    for columna in df6:
        if df6[columna].dtype != np.object_:
            n_outliers = len(df6[np.abs(stats.zscore(df6[columna])) > 3])    
            print("{} | {} | {}".format(
                df6[columna].name,
                n_outliers,
                df6[columna].dtype
        ))

outliers_col(df6)

Año | 0 | float64
Trimestre | 0 | float64
Otros | 0 | float64
0,256 Mbps | 0 | float64
0,375 Mbps | 0 | float64
0,625 Mbps | 0 | float64
0,5 Mbps | 0 | float64
0,512 Mbps | 0 | float64
0,75 Mbps | 0 | float64
1 Mbps | 0 | float64
1,2 Mbps | 0 | float64
1,25 Mbps | 0 | float64
1,5 Mbps | 0 | float64
2 Mbps | 0 | float64
2,2 Mbps | 0 | float64
2,5 Mbps | 8 | int64
6,7 Mbps | 0 | float64
3 Mbps | 0 | float64
3,2 Mbps | 0 | float64
3,3 Mbps | 0 | float64
3,5 Mbps | 0 | float64
4 Mbps | 0 | float64
4,5 Mbps | 0 | float64
5 Mbps | 0 | float64
6 Mbps | 0 | float64
6,4 Mbps | 0 | float64
7 Mbps | 0 | float64
7,5 Mbps | 0 | float64
8 Mbps | 0 | float64
9 Mbps | 0 | float64
10 Mbps | 0 | float64
10,2 Mbps | 0 | float64
10,6 Mbps | 0 | float64
11 Mbps | 0 | float64
12 Mbps | 0 | float64
12,3 Mbps | 0 | float64
13 Mbps | 0 | float64
14 Mbps | 0 | float64
15 Mbps | 0 | float64
16 Mbps | 0 | float64
17 Mbps | 0 | float64
18 Mbps | 0 | float64
19 Mbps | 0 | float64
20 Mbps | 0 | float64
20,5 Mbps | 0 | float64
21 Mbps | 0 | float64
22 Mbps | 0 | float64
23 Mbps | 0 | float64
24 Mbps | 0 | float64
25 Mbps | 0 | float64
25,1 Mbps | 0 | float64
25,11 Mbps | 0 | float64
25,5 Mbps | 0 | float64
26 Mbps | 0 | float64
27 Mbps | 0 | float64
28 Mbps | 0 | float64
29 Mbps | 0 | float64
30 Mbps | 0 | float64
31 Mbps | 0 | float64
32 Mbps | 0 | float64
34 Mbps | 0 | float64
35 Mbps | 0 | float64
36 Mbps | 0 | float64
37 Mbps | 0 | float64
38 Mbps | 0 | float64
39 Mbps | 0 | float64
40 Mbps | 0 | float64
41 Mbps | 0 | float64
45 Mbps | 0 | float64
46 Mbps | 0 | float64
47 Mbps | 0 | float64
48 Mbps | 0 | float64
49 Mbps | 0 | float64
50 Mbps | 0 | float64
50,1 Mbps | 0 | float64
51 Mbps | 0 | float64
50,25 Mbps | 0 | float64
52 Mbps | 0 | float64
54 Mbps | 0 | float64
55 Mbps | 0 | float64
56 Mbps | 0 | float64
58 Mbps | 0 | float64
59 Mbps | 0 | float64
60 Mbps | 0 | float64
61 Mbps | 0 | float64
62 Mbps | 0 | float64
63 Mbps | 0 | float64
64 Mbps | 0 | float64
65 Mbps | 0 | float64
66 Mbps | 0 | float64
67 Mbps | 0 | float64
68 Mbps | 0 | float64
70 Mbps | 0 | float64
71 Mbps | 0 | float64
75 Mbps | 0 | float64
77 Mbps | 0 | float64
78 Mbps | 0 | float64
80 Mbps | 0 | float64
81 Mbps | 0 | float64
83 Mbps | 0 | float64
82 Mbps | 0 | float64
86 Mbps | 0 | float64
84 Mbps | 0 | float64
85 Mbps | 0 | float64
90 Mbps | 0 | float64
91 Mbps | 0 | float64
92 Mbps | 0 | float64
95 Mbps | 0 | float64
98 Mbps | 0 | float64
100 Mbps | 0 | float64
100,25 Mbps | 0 | float64
105 Mbps | 0 | float64
109 Mbps | 0 | float64
110 Mbps | 0 | float64
120 Mbps | 0 | float64
122 Mbps | 0 | float64
125 Mbps | 0 | float64
126 Mbps | 0 | float64
127 Mbps | 0 | float64
128 Mbps | 0 | float64
130 Mbps | 0 | float64
131 Mbps | 0 | float64
134 Mbps | 0 | float64
137 Mbps | 0 | float64
140 Mbps | 0 | float64
145 Mbps | 0 | float64
150 Mbps | 0 | float64
157 Mbps | 0 | float64
158 Mbps | 0 | float64
160 Mbps | 0 | float64
164 Mbps | 0 | float64
165 Mbps | 0 | float64
180 Mbps | 0 | float64
200 Mbps | 0 | float64
203 Mbps | 0 | float64
212 Mbps | 0 | float64
220 Mbps | 0 | float64
225 Mbps | 0 | float64
234 Mbps | 0 | float64
240 Mbps | 0 | float64
250 Mbps | 0 | float64
256 Mbps | 0 | float64
270 Mbps | 0 | float64
275 Mbps | 0 | float64
300 Mbps | 0 | float64
320 Mbps | 0 | float64
325 Mbps | 0 | float64
330 Mbps | 0 | float64
340 Mbps | 0 | float64
350 Mbps | 0 | float64
380 Mbps | 0 | float64
384 Mbps | 0 | float64
400 Mbps | 0 | float64
450 Mbps | 0 | float64
473 Mbps | 0 | float64
480 Mbps | 0 | float64
500 Mbps | 0 | float64
512 Mbps | 0 | float64
520 Mbps | 0 | float64
540 Mbps | 0 | float64
600 Mbps | 0 | float64
640 Mbps | 0 | float64
680 Mbps | 0 | float64
700 Mbps | 0 | float64
768 Mbps | 0 | float64
800 Mbps | 0 | float64
850 Mbps | 0 | float64
900 Mbps | 0 | float64
945 Mbps | 0 | float64
950 Mbps | 0 | float64
1000 Mbps | 0 | float64
1024 Mbps | 0 | float64
1075 Mbps | 0 | float64
1536 Mbps | 0 | float64
2000 Mbps | 0 | float64
2048 Mbps | 0 | float64
2529 Mbps | 0 | float64
3072 Mbps | 0 | float64
4000 Mbps | 0 | float64
5000 Mbps | 0 | float64
5125 Mbps | 0 | float64
6000 Mbps | 0 | float64
7000 Mbps | 0 | float64
8000 Mbps | 0 | float64
10000 Mbps | 0 | float64

### <h3 align=center> `Df7`: **Accesos a Internet fijo por velocidad de bajada y localidad** </h3>

In [34]:
df7.head(2)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,600 Mbps,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,950 Mbps,1000 Mbps,1024 Mbps,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6208.0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0

In [35]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Columns: 134 entries, Provincia to Total general
dtypes: float64(130), object(4)
memory usage: 3.2+ MB

In [36]:
df7.isna().sum()

Provincia           0
Partido             0
Localidad           0
Link Indec          0
Otros            2133
                 ...
900 Mbps         3094
950 Mbps         3094
1000 Mbps        2751
1024 Mbps        3094
Total general       1
Length: 134, dtype: int64

In [37]:
df7.describe()

,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps","0,75 Mbps",1 Mbps,"1,25 Mbps","1,5 Mbps",...,600 Mbps,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,950 Mbps,1000 Mbps,1024 Mbps,Total general
count,962.000000,28.000000,1.0,643.000000,523.000000,1.0,284.000000,891.000000,1.0,15.000000,...,11.000000,1.0,3.0,4.000000,1.0,1.0,1.0,344.000000,1.0,3.094000e+03
mean,409.856549,3.464286,225.0,47.435459,2.214149,111.0,39.588028,83.405163,25.0,132.533333,...,42.909091,1.0,1.0,159.000000,1.0,110.0,1.0,175.494186,1.0,3.622532e+03
std,3830.231937,6.511995,NaN,1098.962748,5.000386,NaN,118.563946,315.399384,NaN,291.222268,...,89.076882,NaN,0.0,260.008974,NaN,NaN,NaN,914.324632,NaN,3.025105e+04
min,-4.000000,1.000000,225.0,0.000000,1.000000,111.0,1.000000,0.000000,25.0,7.000000,...,1.000000,1.0,1.0,1.000000,1.0,110.0,1.0,1.000000,1.0,-4.000000e+00
25%,1.000000,1.000000,225.0,1.000000,1.000000,111.0,3.000000,3.000000,25.0,31.000000,...,4.000000,1.0,1.0,10.750000,1.0,110.0,1.0,7.000000,1.0,2.500000e+01
50%,5.000000,1.000000,225.0,1.000000,1.000000,111.0,9.500000,13.000000,25.0,47.000000,...,13.000000,1.0,1.0,44.500000,1.0,110.0,1.0,62.000000,1.0,1.600000e+02
75%,50.000000,3.000000,225.0,2.500000,1.000000,111.0,28.000000,53.000000,25.0,75.000000,...,30.500000,1.0,1.0,192.750000,1.0,110.0,1.0,160.000000,1.0,1.055500e+03
max,106261.000000,31.000000,225.0,27866.000000,61.000000,111.0,1307.000000,6307.000000,25.0,1170.000000,...,308.000000,1.0,1.0,546.000000,1.0,110.0,1.0,16708.000000,1.0,1.445665e+06

In [38]:
def outliers_col(df7):
    for columna in df7:
        if df7[columna].dtype != np.object_:
            n_outliers = len(df7[np.abs(stats.zscore(df7[columna])) > 3])    
            print("{} | {} | {}".format(
                df7[columna].name,
                n_outliers,
                df7[columna].dtype
        ))

outliers_col(df7)

Otros | 0 | float64
0,256 Mbps | 0 | float64
0,375 Mbps | 0 | float64
0,5 Mbps | 0 | float64
0,512 Mbps | 0 | float64
0,625 Mbps | 0 | float64
0,75 Mbps | 0 | float64
1 Mbps | 0 | float64
1,25 Mbps | 0 | float64
1,5 Mbps | 0 | float64
2 Mbps | 0 | float64
2,2 Mbps | 0 | float64
2,5 Mbps | 0 | float64
3 Mbps | 0 | float64
3,3 Mbps | 0 | float64
3,5 Mbps | 0 | float64
4 Mbps | 0 | float64
4,5 Mbps | 0 | float64
5 Mbps | 0 | float64
6 Mbps | 0 | float64
6,4 Mbps | 0 | float64
7 Mbps | 0 | float64
7,5 Mbps | 0 | float64
8 Mbps | 0 | float64
9 Mbps | 0 | float64
10 Mbps | 0 | float64
10,2 Mbps | 0 | float64
11 Mbps | 0 | float64
12 Mbps | 0 | float64
12,3 Mbps | 0 | float64
13 Mbps | 0 | float64
14 Mbps | 0 | float64
15 Mbps | 0 | float64
16 Mbps | 0 | float64
17 Mbps | 0 | float64
18 Mbps | 0 | float64
20 Mbps | 0 | float64
20,5 Mbps | 0 | float64
21 Mbps | 0 | float64
22 Mbps | 0 | float64
23 Mbps | 0 | float64
24 Mbps | 0 | float64
25 Mbps | 0 | float64
25,1 Mbps | 0 | float64
25,5 Mbps | 0 | float64
26 Mbps | 0 | float64
27 Mbps | 0 | float64
30 Mbps | 0 | float64
31 Mbps | 0 | float64
32 Mbps | 0 | float64
34 Mbps | 0 | float64
35 Mbps | 0 | float64
36 Mbps | 0 | float64
38 Mbps | 0 | float64
39 Mbps | 0 | float64
40 Mbps | 0 | float64
41 Mbps | 0 | float64
45 Mbps | 0 | float64
46 Mbps | 0 | float64
48 Mbps | 0 | float64
49 Mbps | 0 | float64
50 Mbps | 0 | float64
50,1 Mbps | 0 | float64
50,25 Mbps | 0 | float64
51 Mbps | 0 | float64
55 Mbps | 0 | float64
58 Mbps | 0 | float64
59 Mbps | 0 | float64
60 Mbps | 0 | float64
61 Mbps | 0 | float64
62 Mbps | 0 | float64
64 Mbps | 0 | float64
65 Mbps | 0 | float64
66 Mbps | 0 | float64
70 Mbps | 0 | float64
75 Mbps | 0 | float64
78 Mbps | 0 | float64
80 Mbps | 0 | float64
83 Mbps | 0 | float64
85 Mbps | 0 | float64
90 Mbps | 0 | float64
92 Mbps | 0 | float64
95 Mbps | 0 | float64
100 Mbps | 0 | float64
100,25 Mbps | 0 | float64
110 Mbps | 0 | float64
120 Mbps | 0 | float64
122 Mbps | 0 | float64
125 Mbps | 0 | float64
126 Mbps | 0 | float64
130 Mbps | 0 | float64
140 Mbps | 0 | float64
150 Mbps | 0 | float64
157 Mbps | 0 | float64
158 Mbps | 0 | float64
160 Mbps | 0 | float64
164 Mbps | 0 | float64
165 Mbps | 0 | float64
180 Mbps | 0 | float64
200 Mbps | 0 | float64
212 Mbps | 0 | float64
220 Mbps | 0 | float64
225 Mbps | 0 | float64
234 Mbps | 0 | float64
240 Mbps | 0 | float64
250 Mbps | 0 | float64
256 Mbps | 0 | float64
275 Mbps | 0 | float64
300 Mbps | 0 | float64
320 Mbps | 0 | float64
325 Mbps | 0 | float64
330 Mbps | 0 | float64
340 Mbps | 0 | float64
400 Mbps | 0 | float64
450 Mbps | 0 | float64
480 Mbps | 0 | float64
500 Mbps | 0 | float64
512 Mbps | 0 | float64
520 Mbps | 0 | float64
540 Mbps | 0 | float64
600 Mbps | 0 | float64
680 Mbps | 0 | float64
700 Mbps | 0 | float64
800 Mbps | 0 | float64
850 Mbps | 0 | float64
900 Mbps | 0 | float64
950 Mbps | 0 | float64
1000 Mbps | 0 | float64
1024 Mbps | 0 | float64
Total general | 0 | float64

### <h3 align=center> `Df8`: **Accesos a Internet fijo por tecnología y localidad** </h3>

In [39]:
df8.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,4542,0,3,0,852,0,706,6977
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6

In [40]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   int64
 5   CABLEMODEM     3137 non-null   int64
 6   DIAL UP        3137 non-null   int64
 7   FIBRA OPTICA   3137 non-null   int64
 8   OTROS          3137 non-null   int64
 9   SATELITAL      3137 non-null   int64
 10  WIMAX          3137 non-null   int64
 11  WIRELESS       3137 non-null   int64
 12  Total general  3137 non-null   int64
dtypes: int64(9), object(4)
memory usage: 318.7+ KB

In [71]:
df8.isna().sum()

Provincia        0
Partido          0
Localidad        0
Link Indec       0
ADSL             0
CABLEMODEM       0
DIAL UP          0
FIBRA OPTICA     0
OTROS            0
SATELITAL        0
WIMAX            0
WIRELESS         0
Total general    0
dtype: int64

In [42]:
df8.describe()

,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
count,3137.000000,3.137000e+03,3137.000000,3137.000000,3137.000000,3137.000000,3137.000000,3137.000000,3.137000e+03
mean,419.309213,1.924596e+03,3.967485,975.637552,64.918712,1.108065,0.691106,182.648709,3.572877e+03
std,3073.660025,2.363409e+04,44.745777,6599.934747,833.688135,15.515385,14.933928,705.881401,3.165879e+04
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.400000e+01
50%,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,1.560000e+02
75%,115.000000,7.000000e+00,0.000000,83.000000,0.000000,1.000000,0.000000,120.000000,1.012000e+03
max,138753.000000,1.238196e+06,2145.000000,222066.000000,29586.000000,852.000000,444.000000,20490.000000,1.551926e+06

### <h3 align=center> `Df9`: **Listado de localidades con conectividad a internet** </h3>

In [43]:
df9.head()

,Provincia,Partido,Localidad,Población,ADSL,Cablemódem,Dial Up,Fibra óptica,Satelital,Wireless,Telefonía Fija,3G,4G,Link,Latitud,Longitud
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),1853,SI,--,--,--,--,--,SI,SI,SI,6588010.0,-35.292982,-61.407254
1,BUENOS AIRES,9 de Julio,Carlos María Naón,497,--,--,--,--,--,--,SI,SI,SI,6588020.0,-35.239499,-60.825136
2,BUENOS AIRES,9 de Julio,Dudignac,2670,--,--,SI,--,--,SI,SI,SI,SI,6588040.0,-35.651193,-60.709896
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),531,--,--,--,--,--,--,--,--,SI,6588050.0,-35.407947,-61.210567
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),748,SI,--,--,SI,--,--,SI,SI,SI,6588060.0,-35.520141,-60.998949

In [44]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4311 non-null   object
 1   Partido         4311 non-null   object
 2   Localidad       4311 non-null   object
 3   Población       4311 non-null   int64
 4   ADSL            4311 non-null   object
 5   Cablemódem      4311 non-null   object
 6   Dial Up         4311 non-null   object
 7   Fibra óptica    4311 non-null   object
 8   Satelital       4311 non-null   object
 9   Wireless        4311 non-null   object
 10  Telefonía Fija  4311 non-null   object
 11  3G              4311 non-null   object
 12  4G              4311 non-null   object
 13  Link            4299 non-null   float64
 14  Latitud         4311 non-null   float64
 15  Longitud        4311 non-null   float64
dtypes: float64(3), int64(1), object(12)
memory usage: 539.0+ KB

In [45]:
df9.isnull().sum()

Provincia          0
Partido            0
Localidad          0
Población          0
ADSL               0
Cablemódem         0
Dial Up            0
Fibra óptica       0
Satelital          0
Wireless           0
Telefonía Fija     0
3G                 0
4G                 0
Link              12
Latitud            0
Longitud           0
dtype: int64

In [46]:
df9.describe()

          Población          Link      Latitud     Longitud
count  4.311000e+03  4.299000e+03  4311.000000  4311.000000
mean   8.695088e+03  3.909339e+07   -32.261794   -63.039123
std    3.821965e+04  2.939438e+07     4.999418     3.830260
min    0.000000e+00  2.000010e+06   -77.874009   -72.891627
25%    1.160000e+02  1.009104e+07   -34.707626   -65.687041
50%    5.760000e+02  3.400705e+07   -32.283511   -63.450636
75%    3.203000e+03  6.612602e+07   -28.584663   -60.008572
max    1.317298e+06  9.401402e+07   -21.817293   -34.626560

### <h3 align=center> `df_fig1`: **Penetración de Internet fijo (accesos por cada 100 hogares)** </h3>

In [47]:
df_fig1.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          4     Buenos Aires                         78.94
1  2022          4  Capital Federal                        122.73
2  2022          4        Catamarca                         65.77
3  2022          4            Chaco                         43.62
4  2022          4           Chubut                         85.57

In [48]:
df_fig1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

In [49]:
df_fig1.isnull().sum()

Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
dtype: int64

In [50]:
df_fig1.describe()

               Año   Trimestre  Accesos por cada 100 hogares
count   864.000000  864.000000                    864.000000
mean   2018.000000    2.500000                     49.620138
std       2.583484    1.118682                     23.319298
min    2014.000000    1.000000                      9.347208
25%    2016.000000    1.750000                     32.216632
50%    2018.000000    2.500000                     46.386588
75%    2020.000000    3.250000                     62.442698
max    2022.000000    4.000000                    124.061394

### <h3 align=center> `df_fig2`: **Penetración por hogares nacional de Internet fijo** </h3>

In [51]:
df_fig2.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,77.210000,24.150000,Oct-Dic 2022
1,2022,3,76.640000,23.950000,Jul-Sept 2022
2,2022,2,75.965424,23.720442,Abr-Jun 2022
3,2022,1,73.878803,23.049171,Ene-Mar 2022
4,2021,4,73.176397,22.810702,Oct-Dic 2021

In [52]:
df_fig2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           36 non-null     int64
 1   Trimestre                     36 non-null     int64
 2   Accesos por cada 100 hogares  36 non-null     float64
 3   Accesos por cada 100 hab      36 non-null     float64
 4   Periodo                       36 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.5+ KB

In [53]:
df_fig2.isnull().sum()

Año                             0
Trimestre                       0
Accesos por cada 100 hogares    0
Accesos por cada 100 hab        0
Periodo                         0
dtype: int64

In [54]:
df_fig2.describe()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab
count,36.000000,36.000000,36.000000,36.000000
mean,2018.000000,2.500000,60.745449,18.760923
std,2.618615,1.133893,8.512409,2.781875
min,2014.000000,1.000000,49.545821,15.050104
25%,2016.000000,1.750000,53.164373,16.309188
50%,2018.000000,2.500000,59.926034,18.485000
75%,2020.000000,3.250000,66.638085,20.695048
max,2022.000000,4.000000,77.210000,24.150000

### <h3 align=center> `df_fig3`: **Serie trimestral de accesos a Internet fijo por tecnología** </h3>

In [55]:
df_fig3.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,4,1315373,6037457,3060575,572969,221740,11208114,Oct-Dic 2022
1,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
2,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
3,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
4,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021

In [56]:
df_fig3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           36 non-null     int64
 1   Trimestre     36 non-null     int64
 2   ADSL          36 non-null     int64
 3   Cablemodem    36 non-null     int64
 4   Fibra óptica  36 non-null     int64
 5   Wireless      36 non-null     int64
 6   Otros         36 non-null     int64
 7   Total         36 non-null     int64
 8   Periodo       36 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.7+ KB

In [57]:
df_fig3.isnull().sum()

Año             0
Trimestre       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
Periodo         0
dtype: int64

In [58]:
df_fig3.describe()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
count,36.000000,36.000000,3.600000e+01,3.600000e+01,3.600000e+01,36.000000,36.000000,3.600000e+01
mean,2018.000000,2.500000,2.992507e+06,4.175792e+06,8.035492e+05,257299.166667,149495.222222,8.378642e+06
std,2.618615,1.133893,8.721436e+05,1.249104e+06,8.660955e+05,180164.589451,85534.499745,1.462265e+06
min,2014.000000,1.000000,1.315373e+06,2.407330e+06,1.391870e+05,70749.000000,54300.000000,6.398398e+06
25%,2016.000000,1.750000,2.251404e+06,3.001010e+06,1.680880e+05,85113.250000,64404.250000,7.093767e+06
50%,2018.000000,2.500000,3.539332e+06,4.138156e+06,2.368255e+05,220224.000000,116147.000000,8.228740e+06
75%,2020.000000,3.250000,3.722975e+06,5.287469e+06,1.205959e+06,415332.750000,247467.250000,9.410040e+06
max,2022.000000,4.000000,3.803024e+06,6.073426e+06,3.060575e+06,572969.000000,265328.000000,1.120811e+07

### <h3 align=center> `df_fig4`: **Velocidad Media de bajada de Internet fijo** </h3>

In [59]:
df_fig4.head()

    Año  Trimestre  Mbps (Media de bajada)     Trimestre1
0  2022          4                  106.56   Oct-Dic 2022
1  2022          3                   62.46  Jul-Sept 2022
2  2022          2                   58.44   Abr-Jun 2022
3  2022          1                   55.11   Ene-Mar 2022
4  2021          4                   52.34   Oct-Dic 2021

In [60]:
df_fig4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     36 non-null     int64
 1   Trimestre               36 non-null     int64
 2   Mbps (Media de bajada)  36 non-null     float64
 3   Trimestre1              36 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

In [61]:
df_fig4.isnull().sum()

Año                       0
Trimestre                 0
Mbps (Media de bajada)    0
Trimestre1                0
dtype: int64

In [62]:
df_fig4.describe()

               Año  Trimestre  Mbps (Media de bajada)
count    36.000000  36.000000               36.000000
mean   2018.000000   2.500000               24.180555
std       2.618615   1.133893               23.636842
min    2014.000000   1.000000                3.617127
25%    2016.000000   1.750000                5.338574
50%    2018.000000   2.500000               14.604770
75%    2020.000000   3.250000               41.092500
max    2022.000000   4.000000              106.560000

### <h3 align=center> `df_fig5`: **Distribución de los accesos totales nacionales a Internet fijo por velocidad** </h3>

In [63]:
df_fig5.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114
1,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
2,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
3,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
4,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794

In [64]:
df_fig5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      36 non-null     int64
 1   Trimestre                36 non-null     int64
 2   Hasta 512 kbps           36 non-null     int64
 3   Entre 512 Kbps y 1 Mbps  36 non-null     int64
 4   Entre 1 Mbps y 6 Mbps    36 non-null     int64
 5   Entre 6 Mbps y 10 Mbps   36 non-null     int64
 6   Entre 10 Mbps y 20 Mbps  36 non-null     int64
 7   Entre 20 Mbps y 30 Mbps  36 non-null     int64
 8   Más de 30 Mbps           36 non-null     int64
 9   OTROS                    36 non-null     int64
 10  Total                    36 non-null     int64
dtypes: int64(11)
memory usage: 3.2 KB

In [65]:
df_fig5.isnull().sum()

Año                        0
Trimestre                  0
Hasta 512 kbps             0
Entre 512 Kbps y 1 Mbps    0
Entre 1 Mbps y 6 Mbps      0
Entre 6 Mbps y 10 Mbps     0
Entre 10 Mbps y 20 Mbps    0
Entre 20 Mbps y 30 Mbps    0
Más de 30 Mbps             0
OTROS                      0
Total                      0
dtype: int64

In [66]:
df_fig5.describe()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
count,36.000000,36.000000,36.000000,36.000000,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,36.000000,3.600000e+01
mean,2018.000000,2.500000,49571.638889,239046.083333,3.552501e+06,9.034036e+05,9.147367e+05,4.990417e+05,2.053382e+06,126059.500000,8.337742e+06
std,2.618615,1.133893,52406.958667,198205.544715,1.342734e+06,2.453029e+05,4.818186e+05,4.658192e+05,2.498904e+06,120429.285661,1.504414e+06
min,2014.000000,1.000000,5675.000000,28521.000000,1.075272e+06,2.891820e+05,1.011270e+05,3.450000e+02,1.159500e+04,0.000000,6.272846e+06
25%,2016.000000,1.750000,28412.500000,74491.750000,2.634148e+06,7.884982e+05,6.803692e+05,6.239875e+04,2.761000e+04,0.000000,7.085635e+06
50%,2018.000000,2.500000,38879.500000,216701.500000,3.415018e+06,9.781860e+05,8.111225e+05,4.975755e+05,4.845840e+05,155810.000000,8.228740e+06
75%,2020.000000,3.250000,41184.000000,389368.250000,4.970678e+06,1.065288e+06,1.139898e+06,6.358098e+05,4.099905e+06,199011.250000,9.410040e+06
max,2022.000000,4.000000,241713.000000,687619.000000,5.153437e+06,1.245333e+06,2.068087e+06,1.688748e+06,7.410902e+06,394282.000000,1.120811e+07

### <h3 align=center> `df_fig6`: **Ingresos trimestrales por la prestación del servicio de Internet fijo** </h3>

In [67]:
df_fig6.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4               7.244348e+07   Oct-Dic 2022
1  2022          3               6.408678e+07  Jul-Sept 2022
2  2022          2               6.041950e+07   Abr-Jun 2022
3  2022          1               5.521931e+07   Ene-Mar 2022
4  2021          4               4.546789e+07   Oct-Dic 2021

In [68]:
df_fig6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        36 non-null     int64
 1   Trimestre                  36 non-null     int64
 2   Ingresos (miles de pesos)  36 non-null     float64
 3   Periodo                    36 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

In [69]:
df_fig6.isnull().sum()

Año                          0
Trimestre                    0
Ingresos (miles de pesos)    0
Periodo                      0
dtype: int64

In [70]:
df_fig6.describe()

               Año  Trimestre  Ingresos (miles de pesos)
count    36.000000  36.000000               3.600000e+01
mean   2018.000000   2.500000               2.193842e+07
std       2.618615   1.133893               1.930189e+07
min    2014.000000   1.000000               2.984054e+06
25%    2016.000000   1.750000               6.384892e+06
50%    2018.000000   2.500000               1.486522e+07
75%    2020.000000   3.250000               3.246178e+07
max    2022.000000   4.000000               7.244348e+07